.body{
    background-color: #cefffa;
  }

  .download-btn{
    background-color:transparent; 
    border-style:none;
    position: absolute;
    left: 0;
    right: 0;
    top: .2rem;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color:#a3cbc7;
  }
  .audio-player{
    background-color:transparent; 
    border-style:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color:#a3cbc7;
  }
  .container{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    margin-left: -193.5px;
    margin-top: -124px;
  }
  .button{
    position: absolute;
    left: 0;
    right: 0;
    bottom: .2rem;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color:#a3cbc7;
  }
  .radio-btn{
  background-color:transparent;
  border-style:none;
  }
  .translate-btn{
  background-color:transparent;
  border-style:none;
  }
  .shadow{
    position: inherit;
    left: -40px;
    top: 230px;
    z-index: -1;
  }
  @keyframes turnL{
    from{transform:rotateZ(0deg);}
    to{transform:rotateZ(360deg);}
  }
  @keyframes turnR{
    from{transform:rotateZ(360deg);}
    to{transform:rotateZ(0deg);}
  }
  @font-face {
            font-family: 'Anton';
            src: url('font-files/Anton-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
  }
  #svg_71{
    transform-origin:264.859px 112.982px;
    animation-name:turnL;
    animation-play-state:paused;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration:3s;
  }
  #svg_113{
    transform-origin:122.141px 112.982px;
    animation-name:turnL;
    animation-play-state:paused;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration:3s;
  }
  
  #svg_4{
    clip-path: inset(32px 74px 31px 88px);
  }